<!doctype html>
<html lang="en" ng-app="sample">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOWER_COMPONENTS_CSS_START-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <!--BOWER_COMPONENTS_CSS_END-->
    <!--CUSTOM_CSS_START-->
    <link rel="stylesheet" href="/app/app.css"/>
    <link rel="stylesheet" href="/app/http/http.css"/>
    <!--CUSTOM_CSS_END-->
</head>
<body>

<div ng-controller="MainCtrl as main">
    <div class="col-xs-12 su-heading">
        <h2 >Day 08 - Chapter 03 - Form Processing</h2>
        <hr/>
    </div>

    <div class="col-xs-2 su-nav">
        <div ng-include=" '/app/navbar.html' "></div>
    </div>
    <div class="col-xs-10">
        <div ng-if="main.isOpen(main.pageType.HTTP)"
             ng-include=" '/app/http/http.html' "></div>

</div>

<!--Place JS scripts after this line-->
<!--BOWER_COMPONENTS_JS_START-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--BOWER_COMPONENTS_JS_END-->
<!--CUSTOM_JS_START-->
<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/main.controller.js"></script>
<script type="text/javascript" src="/app/http/http.controller.js"></script>
<!--CUSTOM_JS_END-->
</body>
</html>